version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: events_db
    volumes:
      - ./server/migrations:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  server:
    build: ./server
    environment:
      - PORT=5000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=deped123_events
      - DB_NAME=depedcn_events_db
    ports:
      - "5000:5000"
    depends_on:
      - db

  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - server
